.details {
    margin: 1em 12.5% 1em 12.5%;
    /* max-width: 1140px; */
    padding-top: 2em;
}
.details .prod-img{
   max-width:300px;
   max-height: 300px;
   height:auto;
   width: auto;
   margin: 0px 40px 0 0;
   float:left;
   padding-right: 1em;
}
.details .text{
    display: inline;
    line-height: 200%;
}

/* .text p{
    overflow: hidden;
} */
