.global__btn{
  color: white;
  background-color: rgb(51, 211, 150);
  border: none;
  padding: 8px 16px;
  margin: 12px 4px;
  text-decoration: none;
  transition: background-color .5s;
}

.global__btn:hover {
  background-color: rgb(31, 76, 145);
}

.flip{
  background-color:rgb(31, 76, 145) ;
}

.flip:hover{
  background-color: rgb(51, 211, 150);
}

.global__btn:disabled{
  background-color: rgb(99, 99, 99);
  color: white;

}